site_name: Lab Manuals
site_url: https://seneca-bsa.github.io/lab-manual

theme:
  name: material
  features:
    - navigation.path
    - navigation.section
    - content.code.copy

markdown_extensions:
  - admonition
  - pymdownx.arithmatex:
      generic: true

plugins:
  - meta

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js